<!DOCTYPE html>
<html>
<head>
  <title>Artists</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <h1>Artist List</h1>

  <a href="/artists/create">+ Add Artist</a>

  <ul>
    <% artists.forEach(artist => { %>
      <li>
        <%= artist.ArtistName %> - <%= artist.genre %>

        <!-- Edit -->
        <a href="/artists/edit/<%= artist.id %>">Edit</a>

        <!-- Delete -->
        <form action="/artists/delete/<%= artist.id %>" method="POST" style="display:inline;">
          <button type="submit">Delete</button>
        </form>
      </li>
    <% }) %>
  </ul>
</body>
</html>