<h1>เพิ่มคอนเสิร์ต (Admin)</h1>
<link rel="stylesheet" href="/css/style.css">

<form action="/concerts" method="POST">
  <div>
    <label>ชื่อคอนเสิร์ต</label>
    <input type="text" name="ConcertName" required>
  </div>

  <div>
    <label>สถานที่</label>
    <input type="text" name="venue" required>
  </div>

  <div>
    <label>วันที่แสดง</label>
    <input type="date" name="ConcertDate" required>
  </div>

  <div>
    <label>จำนวนที่นั่ง</label>
    <input type="number" name="totalSeats" required>
  </div>

  <div>
    <label>ราคา</label>
    <input type="number" name="price" required>
  </div>

  <div>
      <label>ศิลปิน (เลือกได้หลายคน)</label>
      <select name="ArtistIds[]" multiple required size="6">
        <% artists.forEach(a => { %>
          <option value="<%= a.id %>"><%= a.ArtistName %></option>
        <% }) %>
      </select>
  </div>

  <button type="submit">เพิ่มคอนเสิร์ต</button>
</form>